<aside class="aside">
	<a href="/" class="logo">
		<img src="/src/img/logo.svg" alt="">
	</a>
	<nav class="nav">
		<ul class="menu">
			<li class="menu__item">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon1"></use></svg>
					</div>
					Кальяны
				</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon1"></use></svg>
					</div>
					Табаки
				</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon2"></use></svg>
					</div>
					Дымный FAQ
				</a>
			</li>
			<li class="menu__item menu__item--disabled">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon3"></use></svg>
					</div>
					Комьюнити
				</a>
			</li>
			<li class="menu__item menu__item--disabled">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon4"></use></svg>
					</div>
					Миксовочная
				</a>
			</li>
			<li class="menu__item menu__item--disabled">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon5"></use></svg>
					</div>
					Популярное
				</a>
			</li>
			<li class="menu__item menu__item--disabled">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon6"></use></svg>
					</div>
					Курилка
				</a>
			</li>
			<li class="menu__item menu__item--disabled">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon7"></use></svg>
					</div>
					Новости
				</a>
			</li>
			<li class="menu__item menu__item--disabled">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon8"></use></svg>
					</div>
					Блоги
				</a>
			</li>
			<li class="menu__item menu__item--disabled">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon9"></use></svg>
					</div>
					Магазины
				</a>
			</li>
			<li class="menu__item menu__item--disabled">
				<a href="#" class="menu__link">
					<div class="menu__link-icon">
						<svg><use xlink:href="/src/img/sprite.svg#menu-icon10"></use></svg>
					</div>
					Заведения
				</a>
			</li>
		</ul>
	</nav>
	<div class="aside__btn1-wrap">
		<a href="#" class="btn1">
			<div class="btn1__icon">
				<svg><use xlink:href="/src/img/sprite.svg#heart"></use></svg>
			</div>
			Поддержать проект
		</a>
	</div>
	<div class="aside__btn2-wrap">
		<a href="#popup1" class="btn2 fancybox">Стать партнёром</a>
	</div>
</aside>