<footer class="footer">
	<div class="footer__wrap1">
		<a href="/" class="footer__logo">
			<img src="/src/img/logo-small.svg" alt="">
		</a>
		<nav class="footer__nav">
			<ul class="footer__menu">
				<li>
					<a href="#">О&nbsp;проекте</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
				<li>
					<a href="#">Политика конфиденциальности</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="footer__wrap2">
		<div class="footer__made">
			<img src="/src/img/made-logo.svg" alt="">
		</div>
		<div class="footer__wrap4">
			<a href="#" class="footer__link1">
				<svg><use xlink:href="/src/img/sprite.svg#tg"></use></svg>
			</a>
			<div class="footer__list-wrap">
				<div class="footer__list">
					<div class="footer__col">
						<img src="https://picsum.photos/130/44" alt="">
					</div>
					<div class="footer__col">
						<img src="https://picsum.photos/130/44" alt="">
					</div>
				</div>
			</div>
			<a href="mailto:shisha@gmail.ru" class="footer__email">shisha@gmail.ru</a>
		</div>
	</div>
	<div class="footer__wrap3">
		<div class="footer__text-wrap">
			<p>Обращаем ваше внимание: наш сайт является информационно-ознакомительной площадкой, на&nbsp;которой вы&nbsp;можете найти необходимые вам&nbsp;сведения, касающиеся кальянной сферы. Все&nbsp;данные являются общедоступными и&nbsp;получены из&nbsp;открытых источников.</p>
			<p>В&nbsp;соответствии с&nbsp;требованиями законодательства мы&nbsp;не&nbsp;пропагандируем курение и&nbsp;не&nbsp;рекламируем никакую табачную и&nbsp;кальянную продукцию. На&nbsp;нашем сайте не&nbsp;осуществляется никакой вид реализации кальянов, табачной и&nbsp;никотиносодержащей продукции, в&nbsp;том числе и&nbsp;дистанционный. Напоминаем, что&nbsp;курение вредит вашему здоровью.</p>
		</div>
	</div>
</footer>