<div class="hidden">
	<div class="popup" id="popup1">
		<div class="popup__wrap">
			<div class="popup__title">Стать партнёром</div>
			<div class="popup__subtitle">Оставьте свои данные и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время</div>
			<input checked class="input-checkbox1" id="input-checkbox1" type="checkbox">
			<form action="#" class="popup__form form">
				<div class="label1">
					<input class="input1" type="text" placeholder="Наименование компании">
				</div>
				<div class="label1">
					<input class="input1" type="email" placeholder="Email">
				</div>
				<div class="label1">
					<input class="input1" type="tel" placeholder="Телефон">
				</div>
				<div class="label1">
					<textarea class="textarea1" placeholder="Комментарий"></textarea>
				</div>
				<div class="label-checkbox1-wrap">
					<label for="input-checkbox1" class="label-checkbox1">
						<span class="label-checkbox1__icon-wrap">
							<span class="label-checkbox1__icon">
								<svg><use xlink:href="/src/img/sprite.svg#check"></use></svg>
							</span>
						</span>
						<span class="label-checkbox1__text">Согласен с <a href="#">Политикой конфиденциальности</a></span>
					</label>
				</div>
				<button type="submit" class="form-btn">Отправить</button>
			</form>
		</div>
	</div>
</div>