<div class="hidden">
	<div class="popup" id="popup1">
		<div class="popup__wrap">
			<div class="popup__title">Стать партнёром</div>
			<div class="popup__subtitle">Оставьте свои данные и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время</div>
			<input checked class="input-checkbox1" id="input-checkbox1" type="checkbox">
			<form action="#" class="popup__form form">
				<div class="label1">
					<input class="input1" type="text" placeholder="Наименование компании">
				</div>
				<div class="label1">
					<input class="input1" type="email" placeholder="Email">
				</div>
				<div class="label1">
					<input class="input1" type="tel" placeholder="Телефон">
				</div>
				<div class="label1">
					<textarea class="textarea1" placeholder="Комментарий"></textarea>
				</div>
				<div class="label-checkbox1-wrap">
					<label for="input-checkbox1" class="label-checkbox1">
						<span class="label-checkbox1__icon-wrap">
							<span class="label-checkbox1__icon">
								<svg><use xlink:href="/src/img/sprite.svg#check"></use></svg>
							</span>
						</span>
						<span class="label-checkbox1__text">Согласен с <a href="#">Политикой конфиденциальности</a></span>
					</label>
				</div>
				<button type="submit" class="form-btn">Отправить</button>
			</form>
		</div>
	</div>
</div>
<div class="popup" id="popup2">
	<div class="popup__wrap">
		<div class="popup-item1">
			<div class="popup-item1__img-wrap">
				<div class="popup-item1__img">
					<img src="/src/img/donateproject-item1-img1.webp" alt="">
				</div>
			</div>
			<div class="popup-item1__text-wrap">
				<div class="popup-item1__title">Постер “Ебнутые клиенты, или за что мне это”</div>
				<div class="popup-item1__price">1500&nbsp;руб</div>
			</div>
		</div>
		<input checked class="input-checkbox1" id="input-checkbox2" type="checkbox">
		<form action="#" class="popup__form form">
			<div class="label1">
				<div class="label1__input-wrap">
					<div class="label1__icon">
						<svg><use xlink:href="/src/img/sprite.svg#user"></use></svg>
					</div>
					<input class="input1" type="text" placeholder="Имя и фамилия">
				</div>
			</div>
			<div class="label1">
				<div class="label1__input-wrap">
					<div class="label1__icon">
						<svg><use xlink:href="/src/img/sprite.svg#email"></use></svg>
					</div>
					<input class="input1" type="email" placeholder="Email">
				</div>
			</div>
			<div class="label1">
				<div class="label1__input-wrap">
					<div class="label1__icon">
						<svg><use xlink:href="/src/img/sprite.svg#phone"></use></svg>
					</div>
					<input class="input1" type="tel" placeholder="Телефон">
				</div>
			</div>
			<div class="label1">
				<textarea class="textarea1" placeholder="Комментарий"></textarea>
			</div>
			<div class="label-checkbox1-wrap">
				<label for="input-checkbox2" class="label-checkbox1">
					<span class="label-checkbox1__icon-wrap">
						<span class="label-checkbox1__icon">
							<svg><use xlink:href="/src/img/sprite.svg#check"></use></svg>
						</span>
					</span>
					<span class="label-checkbox1__text">Согласен с <a href="#">Политикой конфиденциальности</a></span>
				</label>
			</div>
			<button type="submit" class="form-btn">Отправить</button>
		</form>
	</div>
</div>